

     
<div id="home">
      <div id="register" class="jumbotron">
        <h1>Register your pi today and access webcam!</h1>
        <p class="lead">What are you waiting for? sign in to get configure your raspberry pi camera.</p>
        <a id="btnRegister" data-toggle="modal" data-target="#registerModal" class="btn btn-large btn-success" href="#">Register NOW!</a>
      </div>
       <div id="connect" class="jumbotron">
        <h1>Your piCamera is registered"</h1>
        <p class="lead">Check your phone , theres something new in there!</p>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Live Snapshots</h4>
          <p>Request snapshots of you camera from your mobile device.</p>
        </div>

        <div class="span6">
          <h4>Alerts</h4>
          <p>Configure your camera and your mobile device to get updates from any motion.</p>
        </div>
      </div>

</div>

s<div id="about">
  <h2>About us</h2>
</div>

<div id="registerModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Register your PiCamera</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
    <div class="span12">
      <form>
        <div class="controls controls-row">
            <input id="boxName" name="boxName" type="text" class="span6" placeholder="Give a name to your camera"> 
            <span id="macaddress" class="input-large span3 uneditable-input"><%= macAddress %></span>
        </div>
        <div class="controls">
          <textarea id="boxDescription" name="boxDescription" class="span12" placeholder="Any description you want" rows="5"></textarea>
        </div>
      </form>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
    <a id="btnSubmitRegister" href="#" class="btn btn-primary">Register</a>
  </div>
</div>
