

     
<div id="home">
      <div class="jumbotron">
        <h1>Register your pi today and access webcam!</h1>
        <p class="lead">What are you waiting for? sign in to get configure your raspberry pi camera.</p>
        <a id="btnRegister" data-toggle="modal" data-target="#registerModal" class="btn btn-large btn-success" href="#">Register NOW!</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Live Snapshots</h4>
          <p>Request snapshots of you camera from your mobile device.</p>
        </div>

        <div class="span6">
          <h4>Alerts</h4>
          <p>Configure your camera and your mobile device to get updates from any motion.</p>
        </div>
      </div>
</div>

s<div id="about">
  <h2>About us</h2>
</div>

<div id="registerModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Register your raspberry pi</h3>
  </div>
  <div class="modal-body">
    <p>Your Raspberry Mac Address</p>
    <input type="text"> <%= macAddress %></input>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Register</a>
  </div>
</div>
